# Configuração de API (Vite)
# VITE_API_URL: A URL final da API no Render (ex: https://cineweb-api.onrender.com/api)
VITE_API_URL="http://localhost:3000/api"

# IA Config
GEMINI_API_KEY="sua_chave_do_google_ai_studio"
