# Configuração do Banco de Dados
POSTGRES_USER=prisma
POSTGRES_PASSWORD=prisma123
POSTGRES_DB=appdb
DB_PORT_EXTERNAL=5433

# Configuração Padrão do NestJS
BACKEND_PORT=3000

# Configuração Padrão do React/Vite
FRONTEND_PORT=5173
