# compiled output
/dist
node_modules/
/build

# ... (other sections) ...

# dotenv environment variable files
.env
.env.local
.env.example
.env.example.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/generated/prisma
